<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="LogFileFileNamePrefix" value=""/>
    <add key="MaxThread" value="1"/>
    <!-- 定时循环时间，单位为毫秒，1秒=1000毫秒 每隔十二个小时执行一次服务 43200000 -->
    <add key="PollInterval" value="60000"/>
    <!--log的文件类型-->
    <add key="LogMode" value="FILE"/>
    <!--log文档存放位置-->
    <add key="LogFilePath" value="F:\MyProject\FileToImgService\ErrorLogs\"/>
    <!-- LogFilePath is used when log mode is FILE -->
    <add key="LogInfoData" value="TRUE"/>
    <!-- If TRUE, Info messages will be logged, set to FALSE for faster performance -->
    <add key="MaxLogFileAge" value="14"/>
    <add key="LogGrade" value="Error"/>
    <add key="conn" value="Server=192.168.1.168;Database=CareerMain;Uid=cybd;Pwd=cybd2015;"/>
    <!--原始文档路劲-->
    <add key="sourcePath" value="E:\Work\Projects\Career\Career.FileStore"/>
    <!--临时文档路劲-->
    <add key="tempPath" value="E:\Work\Projects\Career\Career.FileStore\tempFile"/>
    <!--要保存的图片路劲-->
    <add key="savePath" value="E:\Work\Projects\Career\Career.FileStore\attachments"/>
    <!--要保存的图片路劲-->
    <add key="lastIdFile" value="F:\MyProject\FileToImgService\LastId\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
